:root {
  --main-bg-color: #F3F3F3;
  --toggle-color: #FFF;
  --toggle-bg-color: #C6C6C6;
  --toggle-bg-color-active: #03a9f4;
  
/*
  --toggle-width: 50px;
  --toggle-height: calc(var(--toggle-width) / 2)
  
  */
}

.map {
  position: relative;
  height: 500px;
  width: 230px;
}

.togglepos {


}

svg{
  pointer-events:all;
}


.map svg:hover {
 cursor: pointer;
}

.state:hover, .state:focus {
  /*fill: #939799  !important;*/
  fill: #939799 !important;
  stroke:black !important;
}



.state:active {
  /*fill: var(--toggle-height);*/
  fill: #939799 !important;
  stroke:black !important;
}

.state.selected {
  /*fill:#FF4500  !important;*/
  fill: #939799 !important;
  stroke:black !important;
}
